<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Participant </title>

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" th:href="@{/img/icon.jpg}" sizes="16x16">
    <style>
        body {
            background: black;
            color: white;
        }
        input {
            text-align: center;
        }
        td {
            color: black;

        }

        th {
            color: white;
        }
    </style>
</head>
<body>
<div align="center">
    <h1>Add Participant</h1>
    <br/>
    <form action="#" th:action="@{/saveParticipant}" th:object="${participant}" method="post">
        <table class="table table-bordered">
            <tr style="visibility: hidden">
                <th>ID :</th>
                <td><input type="text" readonly th:field="*{id}"/></td>
            </tr>
            <tr>
                <th>First Name :</th>
                <td><input required type="text" th:field="*{firstName}"/></td>
            </tr>
            <tr>
                <th>Last Name :</th>
                <td><input required type="text" th:field="*{lastName}"/></td>
            </tr>
        </table>
        <button class="btn-primary" type="submit">Add Participant</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn-danger" type="button" onclick="backHome()">Cancel</button>

    </form>
</div>
</body>
<script type="text/javascript"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script>
    function backHome() {
        window.location = "/";
    }
</script>
</html>