<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Convention </title>

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" th:href="@{/img/icon.jpg}" sizes="16x16">
    <style>
        body {
            background: black;
            color: white;
        }
        input {
            text-align: center;
        }
        td {
            color: black;

        }

        th {
            color: white;
        }
    </style>

</head>
<body>
<div align="center">
    <h1>Edit Convention</h1>
    <br/>
    <form action="#" th:action="@{/save}" th:object="${convention}" method="post">
        <table class="table table-bordered">
            <tr style="visibility: hidden">
                <th>ID :</th>
                <td><input type="text" readonly th:field="*{id}"/></td>
            </tr>
            <tr>
                <th>Type :</th>
                <td><select required th:field="*{type}">
                    <option th:each="typeName : ${typeService.listAll()}" th:value="${typeName.getId()}"
                            th:text="${typeName.getName()}"></option>
                </select></td>
            </tr>
            <tr>
                <th>Objet :</th>
                <td><textarea required cols="100"  th:field="*{objet}"></textarea></td>
            </tr>
            <tr>
                <th>Participant 1</th>
                <td><select required th:field="*{participant1}">
                    <option th:each="participant : ${participantService.listAll()}" th:value="${participant.getId()}"
                            th:text="${participant.getFullName()}"></option>
                </select> </td>
            </tr>
            <tr>
                <th>Date Signature 1:</th>
                <td><input required id="dateSignature" type="date" th:field="*{dateSignature1}"/></td>
            </tr>
            <tr>
                <th>Participant 2</th>
                <td><select required th:field="*{participant2}">
                    <option th:each="participant : ${participantService.listAll()}" th:value="${participant.getId()}"
                            th:text="${participant.getFullName()}"></option>
                </select> </td>
            </tr>
            <tr>
                <th>Date Signature 2:</th>
                <td><input required id="dateSignature2" type="date" th:field="*{dateSignature2}"/></td>
            </tr>
            <tr>
                <th>Participant 3</th>
                <td><select th:field="*{participant3}">
                    <option th:each="participant : ${participantService.listAll()}" th:value="${participant.getId()}"
                            th:text="${participant.getFullName()}"></option>
                </select> </td>
            </tr>
            <tr>
                <th>Date Signature 3:</th>
                <td><input id="dateSignature3" type="date" th:field="*{dateSignature3}"/></td>
            </tr>
            <tr>
                <th>Participant 4</th>
                <td><select th:field="*{participant4}">
                    <option th:each="participant : ${participantService.listAll()}" th:value="${participant.getId()}"
                            th:text="${participant.getFullName()}"></option>
                </select> </td>
            </tr>
            <tr>
                <th>Date Signature 4:</th>
                <td><input id="dateSignature4" type="date" th:field="*{dateSignature4}"/></td>
            </tr>
            <tr>
                <th>Date Edition</th>
                <td><input id="dateEdition" type="date" th:field="*{dateEdition}"/></td>
            </tr>
            <tr>
                <th>Date Entre A Vigueur :</th>
                <td><input id="dateEntrevigueur" type="date" th:field="*{dateEntrevigueur}"/></td>
            </tr>
            <tr>
                <th>Date Expiration</th>
                <td><input  id="dateExpiration" type="date" th:field="*{dateExpiration}"/></td>
            </tr>
        </table>
        <button class="btn-primary" type="submit">Save Convention</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn-danger" type="button" onclick="backHome()">Cancel</button>
    </form>
</div>
</body>
<script type="text/javascript"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script>
    function backHome() {
        window.location = "/";
    }
</script>
</html>