<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Convention Manager</title>

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" th:href="@{/img/icon.jpg}" sizes="16x16">
    <style>
        nav{
            margin-top: 14px;
        }
    </style>

</head>
<body>
<nav class="navbar">
    <div>
        <div align="center" style="color: white">
            <h3>
                 <span  style="margin-left: 80px;">Welcome <span th:text="${user.getFullName()}"></span></span>
                <button class="btn btn-danger" onclick="logout()" style="float:right;transform: translateX(-10px);"
                        sec:authorize="isAuthenticated()"><i style="transform: translateY(6px);"
                                                             class="large material-icons">exit_to_app</i> <span
                        style="color: black">Logout</span></button>
            </h3>
        </div>
    </div>
</nav>
<div align="center">
    <h1>Convention Manager</h1>

    <button onclick="createConvention()" class="btn btn-primary"><i style="transform: translateY(6px);"
                                                                    class="large material-icons">add</i> Create New
        Convention
    </button>
    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
    <button onclick="createParticipant()" class="btn btn-primary"><i style="transform: translateY(6px);"
                                                                     class="large material-icons">add</i>Create New
        Participant
    </button>
    <br/><br/>
    <form style="margin-bottom: 10px" th:object="${searchForm}" th:action="@{/}" method="get">
        <select id="type" name="type" th:field="*{type}">
            <option selected th:text="None" th:value="0"></option>
            <option th:each="typeName : ${typeService.listAll()}" th:value="${typeName.getId()}"
                    th:text="${typeName.getName()}"></option>
        </select> &nbsp;&nbsp;&nbsp;&nbsp;
        <input th:field="*{date_expiration}" id="date_expiration" name="date_expiration" type="date"/> &nbsp;&nbsp;&nbsp;&nbsp;
        <button style="height: 30px" class="btn btn-info" type="submit"><i class="material-icons">search</i></button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" style="transform: translateY(6px);" onclick="home()"><i style="color:red;"
                                                                                      class="large material-icons">clear_all</i>
        </button>
    </form>
    <button style="margin-bottom: 20px;" onclick="pdf()" class="btn btn-primary"><i
            style="transform: translate(-4px,6px);" class="large material-icons">print</i>Print All
    </button>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Objet</th>
            <th>Participant 1</th>
            <th>Date Signature 1</th>
            <th>Participant 2</th>
            <th>Date Signature 2</th>
            <th>Participant 3</th>
            <th>Date Signature 3</th>
            <th>Participant 4</th>
            <th>Date Signature 4</th>
            <th>Date Edition</th>
            <th>Date Entre Vigueur</th>
            <th>Date Expiration</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="convention : ${conventionList}">
            <td th:text="${convention.getId()}"></td>

            <td th:text="${typeService.get(convention.getType()).getName()}"></td>

            <td style="max-height: 100px" th:text="${convention.getObjet()}"></td>

            <td th:text="${participantService.get(convention.participant1).getFullName()}"></td>

            <td th:text="${formatter.format(convention.getDateSignature1())}"></td>

            <td th:text="${participantService.get(convention.participant2).getFullName()}"></td>

            <td th:text="${formatter.format(convention.getDateSignature2())}"></td>

            <td th:if="${convention.participant3!=1}"
                th:text="${participantService.get(convention.participant3).getFullName()}"></td>
            <td th:if="${convention.participant3==1}"
            ></td>
            <td th:text="${formatter.format(convention.getDateSignature3())}"></td>

            <td th:if="${convention.participant4!=1}"
                th:text="${participantService.get(convention.participant4).getFullName()}"></td>
            <td th:if="${convention.participant4==1}"
            ></td>
            <td th:text="${formatter.format(convention.getDateSignature4())}"></td>

            <td th:text="${formatter.format(convention.getDateEdition())}"></td>

            <td th:text="${formatter.format(convention.getDateEntrevigueur())}"></td>

            <td th:text="${formatter.format(convention.getDateExpiration())}"></td>

            <td>
                <a th:href="@{'/edit/'+${convention.id}}"><i style="color:orange" class="material-icons">edit</i></a>
                <br>
                <a th:href="@{'/printOne/'+${convention.id}}"><i class="material-icons">print</i></a>
                <br>
                <a th:href="@{'/delete/'+${convention.id}}"><i style="color:red"
                                                               class="material-icons">delete_forever</i></a>

            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script type="text/javascript"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script>
    function createConvention() {
        window.location.href = "add_convention";
    }

    function createParticipant() {
        window.location.href = "add_participant"
    }

    function home() {
        window.location.href = "/";
    }

    function pdf() {
        window.location.href = "pdf";
    }

    function logout() {
        window.location.href = "logout"
    }
</script>
</html>