<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" th:href="@{/img/icon.jpg}" sizes="16x16">
    <style>
        body {
            background-color: black;
        }

        div.container {
            transform: translateY(15%);
        }

        input {
            text-align: center;
        }

        img {
            width: 150px;
            height: 150px;
        }
    </style>


    <title>Login</title>
</head>
<body>
<div class="container">

    <div class="row text-center">
        <div class="col-md-6 col-md-offset-3">
            <img th:src="@{/img/iit.png}" alt="IIT">
            <h1 style="color:white">Login</h1>
            <form th:action="@{/login}" method="post">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">Invalid Email or
                        password.
                    </div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-warning">You have been logged out.</div>
                </div>
                <div class="form-group">
                    <label style="color: white" for="email">Email</label>: <input type="email"
                                                                                  required
                                                                                  id="email" name="email"
                                                                                  class="form-control"
                                                                                  autofocus="autofocus"
                                                                                  placeholder="Email"/>
                </div>
                <div class="form-group">
                    <label style="color: white" for="password">Password</label>: <input type="password"
                                                                                        required
                                                                                        id="password" name="password"
                                                                                        class="form-control"
                                                                                        placeholder="Password"/>
                </div>
                <button style="width: 555px;" class="btn btn-success" type="submit" name="login-submit"
                        id="login-submit"><i
                        style="transform: translate(-6px,6px)" class="material-icons">input</i>Log In
                </button>
                <button type="button" style="width: 227.5px;margin-top: 14px;" class="btn btn-primary"
                        onclick="register()"><i style="transform: translateY(6px)"
                                                class="material-icons">account_circle</i>
                    Register here
                </button>
            </form>
        </div>
    </div>


</div>


</body>
<script type="text/javascript"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script>
    function register() {
        window.location.href = "/registration";
    }
</script>
</html>