<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" th:href="@{/img/icon.jpg}" sizes="16x16">
    <style>
        body {
            background-color: black;
        }

        div.container {
            transform: translateY(5%);
        }

        input {
            text-align: center;
            color: black;
        }

        div {
            color: white
        }
        img {
            width: 150px;
            height: 150px;
        }
    </style>


    <title>Registration</title>
</head>
<body>
<div class="container">
    <div class="row text-center">
        <div class="col-md-6 col-md-offset-3">
            <img th:src="@{/img/iit.png}" alt="IIT">
            <div th:if="${param.success}">
                <div class="alert alert-info">You've successfully registered
                    to our awesome app!
                </div>
            </div>

            <h1>Registration</h1>
            <form th:action="@{/registration}" th:object="${user}" method="post">

                <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
                   th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
                    error</p>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
                    <label for="firstName" class="control-label">First name</label> <input
                        required id="firstName" class="form-control" th:field="*{firstName}"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('firstName')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
                    <label for="lastName" class="control-label">Last name</label> <input
                        required id="lastName" class="form-control" th:field="*{lastName}"/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('lastName')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                    <label for="email" class="control-label">E-mail</label> <input
                        required id="email" class="form-control" th:field="*{email}"/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation
                        error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                    <label for="password" class="control-label">Password</label> <input
                        required id="password" class="form-control" type="password"
                        th:field="*{password}"/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('password')}"
                       th:text="${error}">Validation error</p>
                </div>
                <button type="submit" style="width:555px;" class="btn btn-primary"><i
                        style="transform: translateY(6px)"
                        class="material-icons">account_circle</i>
                    Register
                </button>
                <button onclick="toLogin()" style="width:  227.5px;margin-top: 14px;" class="btn btn-info" type="button" name="login-submit"
                        id="login-submit"><i
                        style="transform: translate(-6px,6px)" class="material-icons">input</i>Log In
                </button>

            </form>
        </div>
    </div>
</div>

</body>
<script type="text/javascript"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script>
    function toLogin() {
        window.location.href="/login";
    }
</script>
</html>